@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
	display: block;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
	color: #FDFFFC;
}
.nav-container{
	width: 100%;
	position: relative;
	display: inline-block;
	height: 100px;
	background-color: green;
}

.logo{
	width: 20%;
	display: inline-block;
	padding-left: 30px;
	padding-top: 30px;
}

.logo img{
	width: 200px;
	margin: 0 auto;
	height: 40px;

}
.links{
	width: 30%;
	display: inline-block;
	color: #FDFFFC;
	vertical-align: center;
}

.links ul{
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.links li{
	width: 20%;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
}

.buttons{
	width: 25%;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 30px;
}

.button{
	display: inline-block;
	width: 40%;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 20px;

}

.volunteer{
	border: 1px solid #CCFFBB;
	color: green;
	background-color: #FDFFFC;
}

.donate{
	border: 1px solid #FDFFFC;
	color: #FDFFFC;
}

.volunteer a{
	color: green;
}

.hero-container{
	width: 100%;
	margin: 0;
}

.hero-image{
	width: 100%;
	height: 500px;
	background-image: url("hero-image.jpg");
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	position: relative;
}


.welcome{
	position: absolute;
	color: #CCFFBB;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	bottom: 100px;
	left: 0px;
	right: 0px;
	text-align: center;
}

.cville{
	position: absolute;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	bottom: 10px;
	left: 0px;
	right: 0px;
	color: #FDFFFC;
	text-align: center;
}

.section-2{
	width: 100%;
	background-color: #FDFFFC;
}

.row-container{
	width: 85%;
	margin: 0 auto;
	height: 300px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.block{
	width: 25%;
	margin-left: 40px;
	border: 1px solid green;
	display: inline-block;
	height: 300px;
	border-radius: 20px;
	vertical-align: top;
}

.one{
	margin-left: 55px;
}

.two{
	background-image: url("bottom.jpg");
	background-size: cover;
	background-position: center;
}

.top{
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 30px;
	vertical-align: top;
	height: 150px;
}

.top p{
	padding-top: 10px;
}

.bottom{
	width: 80%;
	text-align: center;
	font-size: 15px;
	vertical-align: top;
	color: green;
	margin: 0 auto;

}

.footer {
	width: 100%;
	height: 225px;
	background-color: #EDEDED;
	position: absolute;
}
#social {
	display: inline-block;
	margin-left: 15%;
	position: relative;
	vertical-align: middle;
}

#social img {
	width: 40px;
}

#subscribe {
	display: inline-block;
	color: black;
	margin-left: 15%;
	font-weight: bold;
	position: relative;
	vertical-align: middle;
}

#subform {
	width: 200px;
	height: 40px;
	background: white;
	position: relative;
}

#contact {
	display: inline-block;
	color: black;
	margin-left: 15%;
	position: relative;
	vertical-align: middle;
}

@media screen and (max-width: 905px){
	
	.nav-container{
		height: 140px;
	}

	.logo{
		width: 100%;
	}

	.links{
		width: 50%;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.buttons{
		width: 40%;
	}
}

@media screen and (max-width: 600px){
	
	.nav-container{
		height: 200px;
	}
	
	.logo{
		width: 100%;
		padding-left: 50px;
		padding-top: 10px;
	}

	.logo img{
		margin: 0 auto;
	}

	.links{
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.buttons{
		width: 100%;
		position: relative;
		margin-left: 40px;
	}
}

@media screen and (max-width: 910px){
	.top{
		height: 100px;
	}
}

@media screen and (max-width: 825px){
	.top{
		height: 100px;
		font-size: 18px;
	}
}

@media screen and (max-width: 720px){
	.top{
		height: 50%;
		font-size: 30px;
	}

	.row-container{
		height: auto;
	}

	.block{
		width: 100%;
		display: block;
		margin: 0 auto;
		height: 200px;
	}
}

@media screen and (max-width: 545px){
	.top{
		height: 30%;
		font-size: 20px;
	}

	.row-container{
		height: auto;
	}

	.block{
		width: 100%;
		display: block;
		margin: 0 auto;
		height: 200px;
	}
}
